
:root {
    --bg: #202124;
    --bgL: #292a2e;
    --bgLL: #43444B;
    --acc: #E4BAF8;
}

* {
    font-family: 'Sora', 'Segoe UI', sans-serif;
    font-size: 16px;
    line-height: 160%;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
    font-family: 'Quicksand';
    font-weight: bold;
    line-height: 120%;
    color: var(--acc);
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    padding-bottom: 5px;
}
h1 {
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}
h2 {
    font-size: 26px;
    padding-top: 15px;
    padding-bottom: 8px;
}
h3 {
    font-size: 22px;
    padding-top: 10px;
}
h4 {
    font-size: 18px;
    padding-top: 7px;
}
h5, h6 {
    font-size: 16px;
}

p, ul, ol {
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}
p:last-child, ul:last-child, ol:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

p, li {
    max-height: 99999px;
}

a {
    color: var(--acc);
    transition: 0.1s ease-in-out;
    text-decoration: none;
}
a:hover:not(:disabled):not(.disabled),
a:focus:not(:disabled):not(.disabled) {
    color: #fff;
    text-decoration: underline;
}

small {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    line-height: 120%;
    color: #aaa;
}

span {
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
}

body {
    margin: 0px;
    padding: 0px;
    background: var(--bg);
}

#topbar {
    position: fixed;
    padding: 0px 10px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 55px;
    z-index: 10;
    transition: 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
    user-select: none;
}
#topbar .col, #topbar .col-auto {
    display: flex;
    align-items: center;
}

#topbarTitle {
    line-height: 100%;
    padding: 0px;
    margin: 0px;
}
#topbarTitle a {
    font-size: 24px;
    line-height: 100%;
    padding: 5px 8px 6px 8px;
    background: inherit;
    font-family: inherit;
    color: #fff;
    border-radius: 6px;
    cursor: default;
}
#topbarTitle a:hover,
#topbarTitle a:focus {
    background: rgba(255, 255, 255, 0.1);
    text-decoration: none;
}
#topbarTitle a:active {
    background: rgba(255, 255, 255, 0.2);
}

.topbarButton {
    margin: 0px 8px;
    padding: 8px;
    font-size: 24px;
    outline: none;
    border: none;
    background: none;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    transition: 0.1s ease-in-out;
}
.topbarButton:hover,
.topbarButton:focus {
    background: rgba(255, 255, 255, 0.1);
}
.topbarButton:active {
    background: rgba(255, 255, 255, 0.2);
}

#mainMenuHitArea {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 11;
}

#mainMenu {
    position: fixed;
    margin: 10px;
    padding: 5px;
    top: 55px;
    left: -600px;
    max-width: calc(100% - 20px);
    max-height: calc(100% - 75px);
    border-radius: 8px;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
    z-index: 11;
    user-select: none;
    opacity: 0;
    overflow-y: scroll;
    scrollbar-width: none;
}
#mainMenu::-webkit-scrollbar {
    width: 0px;
}

#mainMenu .sectionHead {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 8px 10px 0px 10px;
    opacity: 70%;
    font-size: 15px;
}

#mainMenu .item {
    overflow: hidden;
    flex-wrap: nowrap;
    max-width: 500px;
    padding: 8px 10px 7px 10px;
    margin: 1px 0px;
    border-radius: 6px;
    background: none;
    cursor: default;
}
#mainMenu .item:hover:not(.disabled),
#mainMenu .item:focus:not(.disabled) {
    background: rgba(255, 255, 255, 0.1);
    text-decoration: none;
}
#mainMenu .item:active:not(.disabled) {
    background: rgba(255, 255, 255, 0.2);
}
#mainMenu .item.disabled {
    opacity: 50%;
}

#mainMenu .item .icon {
    display: flex;
    align-items: center;
    color: var(--acc);
    font-size: 24px;
    font-family: 'Material Icons Outlined';
}

#mainMenu .item .name {
    padding-left: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#headerCont {
    top: 0px;
    left: 0px;
    width: 100%;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.3));
}
#header {
    width: 100%;
    padding: 90px 40px 60px 40px;
    background: rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, rgba(207,93,215,1) 0%, rgba(113,12,205,1) 100%);
    clip-path: polygon(
        0 0, /* left top */
        100% 0, /* right top */ 
        100% 100%, /* right bottom */
        0 calc(100% - 35px) /* left bottom */
    );
}
#headerTransGrad {
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 50px;
    width: 100%;
    background: linear-gradient(0deg, var(--bg) 0%, rgba(0,0,0,0) 100%);
}

#title {
    text-align: center;
    font-size: 64px;
    line-height: 100%;
    color: #fff;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    padding: 0px;
    margin: 0px;
}

.container {
    display: relative;
    max-width: 950px;
    min-height: 100%;
    padding: 0px 20px;
}

.projectCard {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 12px;
    color: inherit;
    background: var(--bgL);
    border-radius: 12px;
    border: 3px solid rgba(0, 0, 0, 0);
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
    cursor: default;
}
.projectCard:hover, .projectCard:focus {
    background: var(--bgL);
    border-color: var(--acc);
    text-decoration: none !important;
}
.projectCard:active {
    background: var(--bgL);
    border-color: #fff;
}
.projectCard * {
    padding: 0px;
    margin: 0px;
    line-height: 150%;
}
.projectCard h1 {
    font-size: 22px;
    padding-bottom: 5px;
}
.projectCard p {
    margin: 0px;
    padding-bottom: 5px;
}

#footer {
    bottom: 0px;
    text-align: center;
    margin-top: 50px;
    padding: 25px 20px;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.7);
}
#footer * {
    background: none;
    color: inherit;
    font-size: inherit;
    padding: 0px;
    margin: 0px;
}
#footer p {
    padding-bottom: 5px;
}
#footer a {
    text-decoration: underline;
}
#footer a:hover {
    color: #fff;
}

#toastContainer {
    position: fixed;
    top: 57px;
    right: 0px;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
    z-index: 12;
}
.toast {
    max-width: 400px;
    margin: 8px 10px;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
    user-select: none;
    opacity: 0;
    transition: 0.1s ease-in-out;
    pointer-events: all;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.toast .icon {
    margin-left: -5px;
    margin-right: 12px;
    line-height: 100%;
    font-family: "Material Icons Outlined", "Material Icons";
    font-size: 26px;
    color: var(--acc);
}
.toast.danger .icon {
    color: #ffb9b9;
}
.toast .text {
    min-width: 0;
}
.toast .text, .toast .text * {
    line-height: 120%;
}
.toast .text .desc {
    padding-top: 3px;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    opacity: 60%;
}

.form.section {
    margin-bottom: 10px;
}
.form {
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}
.form.block .item {
    width: 100%;
}

.form label {
    width: 100%;
    padding-bottom: 3px;
    padding-left: 5px;
}

.form .item {
    display: flex;
    flex-wrap: nowrap;
    padding: 0px;
    margin: 5px !important;
    background: var(--bgL);
    border-radius: 8px;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
    outline: none;
    border: none;
    overflow: hidden;
    transition: 0.1s ease-in-out;
}
.form .item .icon {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0px 8px 0px 10px;
    background: var(--bgLL);
    line-height: 100%;
    color: rgba(255, 255, 255, 0.5);
    font-family: "Material Icons Outlined", "Material Icons", sans-serif;
    font-size: 26px;
    transition: 0.1s ease-in-out;
}
.form.multiSel .item .icon { padding-bottom: 0px; }
.form .item .icon::after {
    transition: 0.1s ease-in-out;
}
.form.singleSel .item .icon::after { content: "radio_button_unchecked"; }
.form.multiSel .item .icon::after { content: "check_box_outline_blank"; }
.form .item .label {
    padding: 11px 14px 9px 14px;
    line-height: 130%;
}
.form .item:hover:not(.selected):not(.disabled) .icon::after,
.form .item:focus:not(.selected):not(.disabled) .icon::after,
.form.multiSel .item:hover:not(.disabled) .icon::after,
.form.multiSel .item:focus:not(.disabled) .icon::after {
    color: #fff;
}
.form .item:active:not(.selected):not(.disabled) .icon {
    color: var(--acc);
}
.form .item.selected .icon {
    color: var(--acc);
}
.form.singleSel .item.selected .icon::after { content: "radio_button_checked"; }
.form.multiSel .item.selected .icon::after { content: "check_box"; }
.form .item.disabled {
    box-shadow: none;
}
.form .item.disabled .label {
    color: rgba(255, 255, 255, 0.5);
}

.form.textInput .textbox {
    width: 100%;
    padding: 12px 12px 11px 12px;
    margin: 5px !important;
    line-height: 130%;
    background: var(--bgL);
    border-radius: 8px;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
    outline: none;
    border: none;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: 0.1s ease-in-out;
    appearance: none !important;
}
.form.textInput textarea.textbox {
    resize: none;
}
.form.textInput .textbox:hover {
    border-color: var(--bgLL);
}
.form.textInput .textbox:focus:not(.disabled):not(:disabled) {
    border-color: var(--acc);
}
.form.textInput .textbox::-webkit-scrollbar {
    background: none;
}
.form.textInput .textbox::-webkit-scrollbar-corner {
    background: none;
    height: 0px;
}

.form.textInput .inputWrapper {
    position: relative;
    width: calc(100% - 10px);
}
.form.textInput .inputWrapper::after {
    position: absolute;
    top: 10px;
    right: 0px;
    height: calc(100% - 20px);
    width: 30px;
    margin: 0px 10px;
    background: var(--bgL);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 100%;
    color: var(--acc);
    font-family: "Material Icons Outlined", "Material Icons", sans-serif;
    font-size: 22px;
    pointer-events: none;
}
.form.textInput .inputWrapper.dropdown::after {
    content: "expand_more";
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
}
.form.textInput .inputWrapper.time::after {
    content: "schedule";
}
.form.textInput .inputWrapper.date::after {
    content: "date_range";
}

.form.button .btn {
    padding: 0px;
    margin: 5px;
    padding: 11px 14px 9px 14px;
    line-height: 130%;
    background: var(--acc);
    color: var(--bgL);
    border-radius: 8px;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.2);
    outline: none;
    border: none;
    cursor: default;
    transition: 0.1s ease-in-out;
}
.form.button .btn:hover,
.form.button .btn:focus {
    background: #fff;
    color: var(--bgL);
    text-decoration: none;
}
.form.button .btn:active {
    background: #bbb;
}
.form.button .btn:disabled,
.form.button .btn.disabled {
    color: rgba(255, 255, 255, 0.5);
    background: var(--bgL);
    box-shadow: none;
}

.form small {
    padding-left: 5px;
}

/* Handle touch devices */
@media (hover: none) and (pointer: coarse) {    
    #mainMenu .sectionHead {
        font-size: 16px;
        padding-bottom: 2px;
        padding-top: 10px;
    }
    
    #mainMenu .item {
        padding: 10px 10px 9px 10px;
    }
    
    #mainMenu .item .icon {
        font-size: 28px;
    }
    
    #mainMenu .item .name {
        font-size: 17px;
    }
}

/* Handle small widths */
@media only screen and (max-width: 500px) {  
    #title {
        font-size: 52px;
    }  
    .form .item {
        width: 100%;
        text-align: left;
    }
}

/* Handle acrylic blur effect */
.acrylic {
    background: var(--bgL);
}
.acrylic.danger {
    background: #913e3e;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .acrylic {
        background: rgba(45, 46, 50, 0.8);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
    }
}

/* Hides the element */
.hidden {
    display: none;
}

/* Disables a whole div */
.divDisable {
    opacity: 50%;
    user-select: none;
    pointer-events: none;
    filter: blur(2px);
}

/* Spacing between no-gutters auto-width columns that works responsively */
.col-auto.spacer {
    width: 20px;
}

/* Move to the next flex line */
.flexBreak {
    flex-basis: 100%;
    height: 0;
}

/* Center children vertically */
.flexCenterVertical {
    display: flex;
    align-items: center;
}
/* Center children horizontally */
.flexCenterHorizontal {
    display: flex;
    justify-content: center;
}

/* Custom placeholder text colour */
::placeholder {
    color: #fff;
    opacity: 0.4;
}

/* Custom text selection colour */
::selection {
    border-radius: 6px;
    color: #000;
    background: var(--acc);
}
::-moz-selection {
    border-radius: 6px;
    color: #000;
    background: var(--acc);
}

/* Custom scrollabrs */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0.3);
}
::-webkit-resizer {
    background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 100px;
    background-clip: padding-box;
    border: 6px solid rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb:hover {
    background: #fff;
    background-clip: padding-box;
    border: 4px solid rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb:active {
    background: var(--acc);
    background-clip: padding-box;
    border: 4px solid rgba(0, 0, 0, 0);
}
* { scrollbar-width: thin; }

/* Disables transitions for all child elements */
.no-transitions *:not(.no-transitions-exclude) {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}